doctype html
html(lang='en-US')
head
    title="City Navigator"
    meta(charset='utf-8')
    meta(name='author' content='Group IV')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' type='text/css' href='/style.css')
body
    h3="Google Map Kampala, Machine Learning, Least Conjestion Route Predictor"
    div(id='map')
    script(type='text/JavaScript' src='/driver.js')
    script(type='module' src='/script.js')